@import '../../index.css';

.scaleMainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    width: fit-content;
    height: fit-content;

    padding:0; border:0;

    margin: 15px;
    margin-right: auto;
    margin-left: auto;  
    
}

.scaleSubContainer{
    display: flex;
    justify-content: space-between;
}

.scaleButton{
    composes: genericButton from '../../index.css';
    height: 40px;
    width: fit-content;
    padding: 0px 10px;

    font-size: large;
    box-shadow: 0px 2px 1px;

    color: var(--main-color);
    background-color: white;
}
.scaleButton:hover{background-color: var(--primary-background-hover);}
.scaleButton:active, .scaleButtonSelected:hover{background-color: var(--primary-background-click);}

.scaleButtonSelected{
    composes: scaleButton;
    background-color: #d3d3d3;
}

/* .scaleButtonSharp{
    composes: genericButton from '../index.css';

    height: 36px;
    
    font-size: large;
    box-shadow: 0px 2px 1px #d4d4d4;

    color: white;
    background-color: var(--main-color);
}
.scaleButtonSharp:hover{background-color: var(--main-hover);}
.scaleButtonSharp:active, .scaleButtonSharpSelected:hover{background-color: var(--main-click);}

.scaleButtonSharpSelected{
    composes: scaleButtonSharp;
    background-color: var(--main-click);
} */