@import '../../index.css';

.Container{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Img{
    width: 100%;
    height: 100%;
    fill: var(--main-color);
}

.generalText{
    color: var(--main-color);
    background-color: inherit;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;

    margin: 0;
    padding: 0;
    font-size: auto;
    padding-right: 5px;
}

.stringName{
    position: absolute;
    top:0px;
    left:0px;

    width: fit-content;
    height: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.h2{
    composes: generalText;
}

.p{
    composes: generalText;
    font-weight: 400;
}