.mainContainer{
    /* background-color: ivory; */
    
    position: relative;
    top: 0px;
    left: 0px;

    min-width: 15%;
    max-width: 30%;
    margin: 20px 0px 20px 0px;
}

.h3, .openString{
    color: var(--main-color);
}

.openString:hover{
    transform: scale(1.3);
    color: var(--main-hover);
}

.openString:active{
    color: var(--main-click);
}

.fretNumber{
    color: var(--main-color);

    position: absolute;
    top: -15px;
    left: -20px;
}

.mainImg{
    position: relative;
    top: 0px;
    left: 0px;

    aspect-ratio: 2/3;
    width: 100%;
    height: undefined;

    display: table-cell;
    align-self: flex-start;
    padding: 0;
    
    filter: invert(39%) sepia(20%) saturate(2961%) hue-rotate(308deg) brightness(99%) contrast(86%);
} 

.noteButtonContainer{
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-content: center;

    width: 20%;
    height: 20%;
}

.noteButton{
    position: absolute;
    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-content: center;

    width: 100%;
    height: 100%;

    outline: none;
    border: none;
    margin: 0px;
    padding: 0px;
    background-color: inherit;
}

.noteButtonImg{
    width: auto;
    height: 100%;

    padding: 0px;
    margin: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.noteButtonImg:hover{
    filter: brightness(95%);
}

.noteButtonImg:active{
    filter: brightness(90%);
}

.noteText{
    color: var(--main-color);       

    z-index: 1;
    font-size: medium;
    pointer-events: none;

    width: 100%;
    height: 50px;
    line-height: 50px;
    margin:0;
    padding:0;
    text-align: center;
}