@import '../../index.css';

.mainContainer{
    display: flex;
    flex-flow: column;

    margin: 0;
    
    margin-left: 20px;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
}

.mainContainer h1{
    background-color: var(--main-color);
    color: white;
    width: max-content;

    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 40px;

    margin: 5px;
    padding: 3px 10px 3px 10px;
}

.rowContainer{
    display: flex;
    flex-direction: row;

    margin-right: 50px;
}

.columnContainer{
    display: flex;
    flex-direction: column;

    width: 375px;   
    height: 175px;
}
