.mainContainer{
    display: flex;
    flex-flow: column;

    margin: 0;
    
    margin-left: 20px;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
}

h1{
    background-color: #ff5c7a;
    color: white;

    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin: 5px;
    padding: 3px 10px 3px 10px;
}

.chordsContainer{
    display: flex;
    flex-direction: row;
}