@import '../../index.css';

.mainContainer{
    display: flex;
    flex-flow: column;

    width: var(--device-width);
    height: var(--body-height);

    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}

.h1{
    background-color: var(--main-color);
    color: white;
    width: max-content;

    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32.5px;

    margin: 5px;
    padding: 5px 12px 5px 12px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height:fit-content;
}

/**
Row container contains column container that contains two rows of innerChordRow
**/
.rowContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    width: 100%;
    height: 100%;
}

/*
this contains all elements includng the chord header and its innerChordRow
*/
.columnContainer{
    display: flex;
    flex-direction: column;
    
    width: fit-content;   
    height: 100%;

    margin: 0px 5px 0px 5px;
}

.innerChordRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: auto;
    height: fit-content;
}

.chordButton{
    composes: genericButton from '../../index.css';

    width: auto;
    height: fit-content;

    font-size: large;
    padding: 10px;
    box-shadow: 0px 1px 1px;

    color: var(--main-color);
    background-color: inherit;
}

.chordButtonSelected{
    composes: chordButton;
    background-color: #d3d3d3;
}

.chordButton:hover{background-color: var(--primary-background-hover);}
.chordButton:active, .noteButtonSelected:hover, .chordButtonSelected:hover{background-color: var(--primary-background-click);}

.sidebarButton{
    width: 35px;
    height: 40px;

    padding: 0;
    margin-left: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;

    background-color: inherit;
}

.sidebarIcon{
    width: inherit;
    height: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}
.sidebarIcon:hover{
    color: var(--main-hover);
    transform: scale(1.1);
}
.sidebarIcon:active{color: var(--main-click);}
