@import '../../index.css';

.mainContainer{
    display: flex;
    flex-flow: column;

    margin: 0;
    
    margin-left: 20px;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
}

h1{
    background-color: var(--main-color);
    color: white;
    width: max-content;

    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 40px;

    margin: 5px;
    padding: 3px 10px 3px 10px;
}

.rowContainer{
    display: flex;
    flex-direction: row;

    margin-right: 50px;
}

.columnContainer{
    display: flex;
    flex-direction: column;

    width: 375px;   
    height: 175px;
}

.header{
    display: flex;

    width: 100%;
    height: 100%;

    justify-content: space-evenly;
    align-items: flex-end;
}

.sidebarButton{
    width: 40px;
    height: 40px;
    margin: 20px;

    padding:0;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;

    background-color: inherit;
}

.sidebarIcon{
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: invert(39%) sepia(20%) saturate(2961%) hue-rotate(308deg) brightness(99%) contrast(86%);
}
.sidebarIcon:hover{
    filter: invert(34%) sepia(85%) saturate(605%) hue-rotate(303deg) brightness(90%) contrast(90%);
    transform: scale(1.1);
}
.sidebarIcon:active{filter: invert(34%) sepia(85%) saturate(605%) hue-rotate(303deg) brightness(80%) contrast(90%);}