.Container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    padding: 20px;
 
    width: auto;
    height: 100%;
}

.Container h1 {
    color: var(--main-color);
    background-color: inherit;
    margin: 0;
    padding: 0;
    align-self: center;
    padding-right: 5px;
    font-size: auto;
}

.Container h2{
    color: var(--main-color);
    background-color: inherit;

    margin: 0;
    padding: 0;
    padding-right: 5px;
    font-size: auto;
}

.mainChordImg{
    aspect-ratio: 2/3;
    width: 50%;
    min-width: 25vh;

    height: undefined;
    align-self: flex-start;

    margin: 0;
    padding: 0;
}

.rowContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    max-width: fit-content;
    white-space: nowrap;

    margin: 0;
    padding: 0;
}

.noteDegreeRow{
    display: flex;
    align-items: center;

    min-width: fit-content;
    height: auto;

    margin: 0px 10px 0px 10px;
    padding: 0;
    padding-right: 100px;
}

.columnContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    margin: 5px;

    width: 50%;
    height: auto;
}

.rowContainer p{
    color: var(--main-color);
    font-size: auto;
    width: max-content;
    margin: 0;
    padding-right: 5px;
}