.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 20px;
    margin-left: 10px;
 
    max-width: max-content;
    height: 100%;
}

.Container .h1 {
    color: var(--main-color);
    background-color: inherit;

    margin: 0;
    padding: 0;
    align-self: center;
    padding-right: 5px;

    font-size: auto;
}

.Container .h2{
    color: var(--main-color);
    background-color: inherit;
    
    margin: 0;
    padding: 0;
    padding-right: 5px;
    font-size: auto;
}

.Container .p{
    color: var(--main-color);
    background-color: inherit;
    font-size: auto;
    margin: 0;
    padding-right: 5px;

    height: 100%; 
    width: 100%;
}

.mainChordImg{
    width: 50%;
    min-width: 20vw;

    margin: 0;
    padding: 0;
}

.rowChordImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    margin: 0;
    padding: 0;
}

.noteDegreeRow{
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;
    align-items: center;

    max-width: fit-content;
    height: auto;
    margin: 0;
    padding: 0;
}

.columnContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    margin-left: 15%;

    max-width: fit-content;
    height: auto;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: fit-content;
    height: auto;
}