.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;

    max-width: max-content;
    height: fit-content;
}

.generalText{
    color: var(--main-color);
    background-color: inherit;

    margin: 0;
    padding: 0;
    font-size: auto;
    padding-right: 5px;
}

.h1{
    composes: generalText;
    align-self: center;
}

.h2{
    composes: generalText;
    font-size: 150%;
}

.p{
    composes: generalText;
}

.arrowDownButton{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10%;
    
    outline: none;
    border: none;
    background-color: inherit;
    
    color: var(--main-color);
}

.arrowDownImg{
    width:10%;
    height: 10%;

    padding: 0px;
    margin: 0px;
}

.rowChordImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    margin: 0;
    padding: 0;
}

.noteDegreeRow{
    display: flex;
    flex-direction: row;  
    justify-content: flex-start;
    align-items: center;

    max-width: fit-content;
    white-space: nowrap;
    height: auto;
    margin: 0;
    padding: 0;
}

.noteDegreeRowIncrease{
    composes: noteDegreeRow;
    transform: scale(1.2);
    transition: 200ms;
}

.columnContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;

    max-width: fit-content;
    height: fit-content;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    max-width: fit-content;
    height: auto;
}

.moreChordContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    position: relative;
    top: -600px;
    left: 0px;

    width: 0px;
    height: 0px;
    visibility: hidden;

    margin-top: 10px;
    padding: 0px;

    transition: 
        top 0s,
        visibility 0ms,
        width 100ms,
        height 100ms
}

.moreChordContainerActive {
    composes: moreChordContainer;
    
    top: 0px;
    width: 80%;
    height: 100%;
    visibility: visible;

    transition: 
        top 0s,
        visibility 300ms,
        width 300ms,
        height 300ms
}

.moreChordRow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    max-width: fit-content;
}

