@import '../../index.css';

.noteMainContainer{
    display: flex;

    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: auto;

    padding:0; border:0;
}

.noteButtonContainer{
    display: flex;
    flex-flow: row wrap;

    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 80px;
}

.genericButton{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

    outline: none;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 0px;
    margin: 2px;
}

.noteButton{
    composes: genericButton;
    height: 70px;

    font-size: x-large;
    box-shadow: 0px 2px 1px;

    color: var(--main-color);
    background-color: inherit;
}
.noteButton:hover, .chordButton:hover{background-color: #f5f5f5;}
.noteButton:active, .chordButton:active, .noteButtonSelected:hover, .chordButtonSelected:hover{background-color: #d3d3d3;}

.noteButtonSelected{
    composes: noteButton;
    background-color: #d3d3d3;
}

.noteButtonSharp{
    composes: genericButton;

    height: 36px;
    
    font-size: large;
    box-shadow: 0px 2px 1px #d4d4d4;

    color: white;
    background-color: var(--main-color);
}
.noteButtonSharp:hover{background-color: var(--main-hover);}
.noteButtonSharp:active, .noteButtonSharpSelected:hover{background-color: var(--main-click);}

.noteButtonSharpSelected{
    composes: noteButtonSharp;
    background-color: var(--main-click);
}

.chordButton{
    composes: genericButton;

    width: auto;
    height: auto;

    font-size: large;
    padding: 10px;
    box-shadow: 0px 1px 1px;

    color: var(--main-color);
    background-color: inherit;
}

.chordButtonSelected{
    composes: chordButton;
    background-color: #d3d3d3;
}
