.Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0px 20px 0px 20px;
    width: auto;
    min-width: 40vw;
    height: auto;
}

.Sidebar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    position: relative;
    left: -100%; 
    
    width: 100%;
    height: auto;

    padding:10px;

    transition: 300ms;
    visibility: hidden;

    background-color: rgb(241, 241, 241);
    border-radius: 35px;
}

.SidebarActive{
    composes: Sidebar;

    left:0px;
    visibility: visible;
    transition: 300ms;
}

.sidebarButton{
    width: 35px;
    height: 40px;

    padding:0;

    position: absolute;
    top: 110px;
    left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;

    background-color: inherit;
}

.sidebarIcon{
    width: inherit;
    height: inherit;

    display: flex;
    justify-content: center;
    align-items: center;

    filter: invert(39%) sepia(20%) saturate(2961%) hue-rotate(308deg) brightness(99%) contrast(86%);
}
.sidebarIcon:hover{
    filter: invert(34%) sepia(85%) saturate(605%) hue-rotate(303deg) brightness(94%) contrast(90%);
    transform: scale(1.1);
}
.sidebarIcon:active{filter: invert(34%) sepia(85%) saturate(605%) hue-rotate(303deg) brightness(80%) contrast(90%);}
