.Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0px 30px 0px 20px;  

    /*to add a cap in mobile browser*/
    max-width: fit-content;
    width: fit-content;
    min-width: 35%;
    max-height: 72.5vh;
}

.Sidebar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    position: relative;
    left: -100%; 
    
    width: 100%;
    max-height: fit-content;
    padding: 10px;

    transition: 50ms;
    visibility: hidden;

    background-color: var(--secondary-background);
    border-radius: 35px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-padding-right: 2em;
}

.SidebarActive{
    composes: Sidebar;

    left:0px;
    visibility: visible;
    transition: 300ms;
}
