@import '../index.css';

.header{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: sticky;
    left:0;
    right:0;
    top:0;
    width: 100%;
    min-width: 800px;
    min-height: 10vh;
    margin: 0 auto;
    
    background-color: var(--main-color);
    z-index: 1;
}

.button_row{
    align-items: center;
    display: flex;
    width:100%;
    padding: 0px 100px 0px 2px;
    justify-content: flex-end;
}

.title_button   {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;

    color: white;
    background-color: inherit;
    
    outline: none;
    border: none;
    margin: 10px;
    padding-left: 30px;
}

.title_button:hover{
    transform: scale(1.03);
}

.title_button:active{color: #cfcfcf;}

.header_button{
    width: 100px;
    height: 40%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;

    color: white;
    background-color: inherit;
    
    outline: none;
    border: none;
    margin: 15px;
}

.header_button:hover{color: #e8e8e8;}

.header_button:active{
    color: #cfcfcf;
    transform: translateY(2px);
}