.Container{
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    margin: auto;
    padding:0; border:0;
}

.mainPageButton{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    color: #ff5c7a;
    background-color: inherit;

    border: none;
    outline: none;
    margin: 20px;
}

.mainPageButton:hover{
    transform: scale(1.1);
}

.mainPageButton:active{
    color: #db3755;
}